html {
  scroll-behavior: smooth;
}
#title,#infra{
    background-color: #faf4ff;
}

/* Title Section*/
.navbar-toggler-icon {
  background-image: url(images/navbar-toggle.png);
}
.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 0 1rem;
    /* background-color: #27252b; */
}
.nav-item{
    padding:0 18px;
    font-weight: 500;
    font-size: 1.2rem;
}
nav.black {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar a.white {
  color: #fff;
  font-weight: 700;
}

/* Main Box Section */
#main-box{position: relative;}
.main-img{ width: 100%;}
.text-area{
    background-color: black;
    color: #fff;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 30px;
    opacity: 0.8;
    position: absolute;
    top: 61%;
    left: 0;
    right: 0;
}
.navbar-nav a,.text-area a{color: #fff;}


/* WHY-Pratibaa section */

#why-Pratibaa{padding: 6rem 0;}
.why-img{width: 600px;}
.why-h1{
    padding: 20%;
    font-family: 'Merienda', cursive;
    font-weight: 1000;
    font-size: 4rem;
}



/* Infrastructure section */

#infra{
    padding: 5rem 0;
    text-align: center;
}
.infra-img{ 
    width: 100%;
    border-radius: 30px;
    border: 1px solid;
    margin: 1rem 0.3rem;
}


/* Admission section */
#admission{
    background-image: linear-gradient(to bottom, rgba(173, 15, 15, 0.6) 0%,rgba(0,0,0,0.6) 100%), url(images/child-playing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 5rem 0;    
}
.form {
    max-width: 50%;
    margin: 2rem auto;
  }
  
  .form-group {
    position: relative;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    padding-left: 30px !important;
  }
.contact-form {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
  }

  .form-check-inline{
    line-height: 2.3rem;
    background-color: transparent;
    border-radius: 1rem;
    color: rgb(158, 158, 204);
  }
  
  .contact-form .input-block {
    background-color: transparent;
    border: #000;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #db4e5a;
    margin: 0;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .contact-form .input-block.textarea {
    height: auto;
  }
  
  .contact-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
  }
  
  .contact-form .input-block label {
    position: inherit;
    left: 10px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 400;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    line-height: 10px;
  }
  
  .contact-form .input-block .form-control {
    background-color: transparent;
    margin: 0;
    outline: none;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding: 30px 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #f3f3f3;
  }
  
  .contact-form .input-block .form-control:focus label {
    top: 0;
  }
  
  .contact-form .square-button {
    background-color: #db4e5a;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .contact-form .square-button:hover,
  .contact-form .square-button:focus {
    background-color: #141313;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
  }
  
  .no-border-bottom{
    border-bottom: none !important;
  }





/* Footer section */
/* #footer{
    background-color: #827397;
    color: #fff;
}
.col-lg-1{padding-right: 0;}

.footRow{
    margin:25px 0;
}

li{list-style: none; margin:10px 0;}
a{color: #fff;}
i,a:hover{
    text-decoration: none;
    font-weight: 500;
    color: #cae3dd;}
.soc{margin: 0 10px;}

.session{
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    }
    .v-container{
    position:absolute;
    z-index: -2;
    left: 0;
    right: 0;
    } */
    .attribution{text-align: center; margin: 20px 0 10px;}


    /* CONTACT PAGE */
    .wrapper1 {
      padding: 2% 0;
      text-align: center;
    }
    .conDetails {
      background-color: rgb(0, 0, 0, 0.1);
      padding: 2rem;
      border-radius: 0.7rem;
      margin: 5% 0;
  }
  .btn-lg, .swal-button {
    background-color: #0d0b7b;
    color: #fff;
    padding: 10px 25px;
}
#contact .addBox span {
  color: #495158;
}

h1, h2, h3, h4, h5, #hero .wrapper span {
  /* color: #0d0b7b !important; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


/* Media Query */

@media (max-width: 1028px) {
    .nav-item{text-align: center;}
    .why-img{width: 100%;}
    .why-h1{margin: 0 auto; text-align: center;}
    #title {text-align: center; }
    #footer{text-align: center;}
    .foot-icon{float: right;}
    .foot-no{float: left;}
    .soc-icon{margin-top: 30px;}
}

@media (max-width:1024px){
    .text-area{
        max-width: 90%;
        padding: 15px 3px 2px;
        font-size: 1rem;
        top: 50%;
    }
    .text-area h1{font-size: 1.5rem;}
    .text-area h3{font-size: 1.2rem;}
    .contact-form{width: 80%;padding: 0px;}

}
@media (max-width:768px){
  .logoImg{height: 3rem;}
    .text-area{top:30%; font-size: 0.5rem;}
    #why-Pratibaa h1{font-size: 3rem;}
    #infra h2, #why-Pratibaa h1, #admission h1{font-size: 1.65rem ;}
    #infra h4,.contact-form .input-block label,.input-block,.form-control, .nav-item{font-size: 0.8rem ;}
    .nav-link{padding: 0.09rem 1rem;}
    .why-h1{padding: 10%;}
    #why-Pratibaa, #infra{padding: 1rem 0;}
    .contact-form{width: 100%;padding: 0px;}
    


}
@media (max-width:768px){.text-area{visibility: hidden;}}







